@model TagSearchResult

@if (Model.Photos.SafeAny())
{
    <ul class="photo-thumbs">
        @foreach (var photo in Model.Photos)
        {
            <li>@Html.PhotoThumb_SearchResult(photo, Model.Tag)</li>
        }
    </ul>
}
