@model SearchResults

@{
    ViewBag.Title = "Search Results - " + Model.SearchTerm;
}

<div id="searchResults">
    <h1>Search Results</h1>

    @if (Model.TagResults.SafeAny())
    {
        foreach (var tagResult in Model.TagResults)
        {
            <div class="search-result">
                <h2>@Html.TagButton(tagResult.Tag)</h2>
                @{ Html.RenderPartial(MVC.Search.Views._PhotoThumbnails, tagResult); }
            </div>
        }
    }
    else if (Model.Tags.SafeAny())
    {
        <div class="search-result">
            <h2>@Html.CombinedTags_SearchResult(Model.Tags)</h2>
            <ul class="photo-thumbs">
                @foreach (var photo in Model.PhotoResultsFromAndedTags)
                {
                    <li>@Html.PhotoThumb_AndedSearchResults(photo, Model.Tags)</li>
                }
            </ul>
        </div>
    }
</div>