@model IEnumerable<Tag>

@{
    ViewBag.Title = "Tag Index";
}

<h2>Tag Index</h2>

@if (SecurityHelper.UserIsAdmin(base.User))
{
    <p>
        <a href="@Url.TagCreate()">Create new Tag</a>
    </p>
}

<h3>@Model.Count() tags</h3>

<ul class="tag-buttons">
    @foreach (var tag in Model)
    {
        <li>
            <tag-button tag="@tag">
        </li>
    }
</ul>
<div class="clearfix"></div>
