<div id="logo">
    <a class="brand" href="/">
        <img src="~/img/logo/TeacherPouchLogo30.png"
            class="img-responsive center-block"
            alt="TeacherPouch logo"
            asp-append-version="true">
    </a>
</div>

<ul class="nav">
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Animals">Animals</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="CelebrationsAndHolidays">
            Celebrations and Holidays
        </a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Clothing">Clothing</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Colors">Colors</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Fall">Fall</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Farm">Farm</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Flowers">Flowers</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Food">Food</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Garden">Garden</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Materials">Materials</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Math">Math</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Numbers">Numbers</a>
    </li>
    <li>
        <a asp-controller="Search" asp-action="Search" asp-route-q="Park">Park</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Prepositions">Prepositions</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="School">School</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Sizes">Sizes</a>
    </li>
    <li>
        <a asp-controller="Search" asp-action="Search" asp-route-q="Spring">Spring</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Summer">Summer</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Transportation">Transportation</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Vacation">Vacation</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Weather">Weather</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Winter">Winter</a>
    </li>
    <li>
        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Zoo">Zoo</a>
    </li>
</ul>
