@{
    ViewBag.Title = "Animals - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/animals.jpg" class="img-responsive center-block" alt="Animals" asp-append-version="true">
            <h3>Let's look at some animals!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="bird">
                <img src="~/img/birds.jpg" class="img-responsive" alt="Birds" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="chick">
                <img src="~/img/chicks.jpg" class="img-responsive" alt="Chicks" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="dog">
                <img src="~/img/dogs.jpg" class="img-responsive" alt="Dogs" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="zoo animal" asp-route-op="and">
                <img src="~/img/zoo-animals.jpg" class="img-responsive" alt="Zoo Animals" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="farm animal" asp-route-op="and">
                <img src="~/img/farm-animals.jpg" class="img-responsive" alt="Farm Animals" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="animal">
                <img src="~/img/all-animals.jpg" class="img-responsive" alt="All Animals" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-12">
            <img src="~/img/animals-search.jpg"
                class="img-responsive center-block"
                alt="Search for more Animal pictures"
                asp-append-version="true">
        </div>
    </div>
</div>
