@{
    ViewBag.Title = "Food - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/food.jpg"
                class="img-responsive center-block"
                alt="Food"
                asp-append-version="true">
            <h3>I just can't get enough!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="meat">
                <img src="~/img/meat.jpg" class="img-responsive" alt="Meat" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="vegetables">
                <img src="~/img/vegetables.jpg" class="img-responsive" alt="Vegetables" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="fruit">
                <img src="~/img/fruit.jpg" class="img-responsive" alt="Fruit" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="beverage">
                <img src="~/img/beverages.jpg" class="img-responsive" alt="Beverages" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="dessert">
                <img src="~/img/desserts.jpg" class="img-responsive" alt="Desserts" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="seafood">
                <img src="~/img/seafood.jpg" class="img-responsive" alt="Seafood" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="canning">
                <img src="~/img/canning.jpg" class="img-responsive" alt="Canning" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="candy">
                <img src="~/img/candy.jpg" class="img-responsive" alt="Candy" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="food">
                <img src="~/img/all-food.jpg" class="img-responsive" alt="All Food" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
