@{
    ViewBag.Title = "France - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/france.jpg"
                class="img-responsive center-block"
                alt="France"
                asp-append-version="true">
            <h3>Bonjour!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="paris">
                <img src="~/img/paris.jpg" class="img-responsive" alt="Paris, France" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="giverny">
                <img src="~/img/giverny.jpg" class="img-responsive" alt="Giverny, France" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="france">
                <img src="~/img/france.jpg" class="img-responsive" alt="France" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
