@{
    ViewBag.Title = "Materials - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/materials.jpg"
                class="img-responsive center-block"
                alt="Materials"
                asp-append-version="true">
            <h3>What is it made out of?</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="plastic">
                <img src="~/img/plastic.jpg" class="img-responsive" alt="Plastic" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="metal">
                <img src="~/img/metal.jpg" class="img-responsive" alt="Metal" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="glass">
                <img src="~/img/glass.jpg" class="img-responsive" alt="Glass" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="cotton">
                <img src="~/img/cotton.jpg" class="img-responsive" alt="Cotton" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="wood">
                <img src="~/img/wood.jpg" class="img-responsive" alt="Wood" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="stone">
                <img src="~/img/stone.jpg" class="img-responsive" alt="Stone" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="leather">
                <img src="~/img/leather.jpg" class="img-responsive" alt="Leather" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="rubber">
                <img src="~/img/rubber.jpg" class="img-responsive" alt="Rubber" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="ceramic">
                <img src="~/img/ceramic.jpg" class="img-responsive" alt="Ceramic" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="lace">
                <img src="~/img/lace.jpg" class="img-responsive" alt="Lace" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
