@{
    ViewBag.Title = "Math - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/math.jpg"
                class="img-responsive center-block"
                alt="Math"
                asp-append-version="true">
            <h3>Time for Math!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="shapes">
                <img src="~/img/shapes.jpg" class="img-responsive" alt="Shapes" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="math supplies">
                <img src="~/img/math-supplies.jpg" class="img-responsive" alt="Math Supplies" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="numbers">
                <img src="~/img/numbers.jpg" class="img-responsive" alt="Numbers" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
