@{
    ViewBag.Title = "Prepositions - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/prepositions.jpg"
                class="img-responsive center-block"
                alt="Prepositions"
                asp-append-version="true">
            <h3>We were on, in, and all around!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Tags" asp-action="TagDetails" asp-route-name="in">
                <img src="~/img/in.jpg" class="img-responsive" alt="In" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="above">
                <img src="~/img/above-on-top-of.jpg" class="img-responsive" alt="Above / On top of" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="through">
                <img src="~/img/through.jpg" class="img-responsive" alt="Through" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Tags" asp-action="TagDetails" asp-route-name="on">
                <img src="~/img/on.jpg" class="img-responsive" alt="On" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="below under" asp-route-op="and">
                <img src="~/img/below-under.jpg" class="img-responsive" alt="Below / Under" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="next to">
                <img src="~/img/next-to.jpg" class="img-responsive" alt="Next to" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="where">
                <img src="~/img/where.jpg" class="img-responsive" alt="Where?" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
