@{
    ViewBag.Title = "School - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/school.jpg"
                class="img-responsive center-block"
                alt="School"
                asp-append-version="true">
            <h3>Away we go!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="school supplies">
                <img src="~/img/school-supplies.jpg" class="img-responsive" alt="School Supplies" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="art">
                <img src="~/img/art.jpg" class="img-responsive" alt="Art" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="math">
                <img src="~/img/math.jpg" class="img-responsive" alt="Math" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="read">
                <img src="~/img/reading.jpg" class="img-responsive" alt="Reading" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="colors">
                <img src="~/img/colors.jpg" class="img-responsive" alt="Colors" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="playground">
                <img src="~/img/playground.jpg" class="img-responsive" alt="Playground" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
