@{
    ViewBag.Title = "Summer - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/summer.jpg"
                class="img-responsive center-block"
                alt="Summer"
                asp-append-version="true">
            <h3>We just can't wait!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="grill">
                <img src="~/img/grilling.jpg" class="img-responsive" alt="Grilling" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="pool">
                <img src="~/img/pool.jpg" class="img-responsive" alt="Pool" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="park">
                <img src="~/img/playground.jpg" class="img-responsive" alt="Playground" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="garden">
                <img src="~/img/garden.jpg" class="img-responsive" alt="Garden" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="flowers">
                <img src="~/img/flowers.jpg" class="img-responsive" alt="Flowers" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="fishing">
                <img src="~/img/fishing.jpg" class="img-responsive" alt="Fishing" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="campfire">
                <img src="~/img/campfires.jpg" class="img-responsive" alt="Campfires" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="yard work">
                <img src="~/img/yard-work.jpg" class="img-responsive" alt="Yard Work" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="summer">
                <img src="~/img/all-summer.jpg" class="img-responsive" alt="All Things Summer" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
