@{
    ViewBag.Title = "Weather - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/weather.jpg"
                class="img-responsive center-block"
                alt="Weather"
                asp-append-version="true">
            <h3>What's the weather like today?</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="sunny">
                <img src="~/img/sunny.jpg" class="img-responsive" alt="Sunny" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="cloudy">
                <img src="~/img/cloudy.jpg" class="img-responsive" alt="Cloudy" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="rainy">
                <img src="~/img/rainy.jpg" class="img-responsive" alt="Rainy" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="windy">
                <img src="~/img/windy.jpg" class="img-responsive" alt="Windy" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="foggy">
                <img src="~/img/foggy.jpg" class="img-responsive" alt="Foggy" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="snowy">
                <img src="~/img/snowy.jpg" class="img-responsive" alt="Snowy" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="sunset">
                <img src="~/img/sunset.jpg" class="img-responsive" alt="Sunset" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="sunshine">
                <img src="~/img/sunshine.jpg" class="img-responsive" alt="Sunshine" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="weather">
                <img src="~/img/all-types-of-weather.jpg" class="img-responsive" alt="All Types of Weather" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
