@{
    ViewBag.Title = "Winter - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/winter.jpg"
                class="img-responsive center-block"
                alt="Winter"
                asp-append-version="true">
            <h3>It's getting cold outside...</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="sunsnowny">
                <img src="~/img/snow.jpg" class="img-responsive" alt="Snow" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="winter clothing">
                <img src="~/img/winter-clothing.jpg" class="img-responsive" alt="Winter Clothing" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="winter activities">
                <img src="~/img/winter-activities.jpg" class="img-responsive" alt="Winter Activities" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="christmas">
                <img src="~/img/christmas.jpg" class="img-responsive" alt="Christmas" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="winter">
                <img src="~/img/winter.jpg" class="img-responsive" alt="Winter" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="vacation">
                <img src="~/img/vacation.jpg" class="img-responsive" alt="Vacation" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
