@{
    ViewBag.Title = "Zoo - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="~/img/zoo.jpg"
                class="img-responsive center-block"
                alt="Zoo"
                asp-append-version="true">
            <h3>Let's go to the zoo!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="zoo animal" asp-route-op="and">
                <img src="~/img/zoo-animals.jpg" class="img-responsive" alt="Zoo Animals" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="zoo ride" asp-route-op="and">
                <img src="~/img/zoo-rides.jpg" class="img-responsive" alt="Rides" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="zoo">
                <img src="~/img/all-zoo.jpg" class="img-responsive" alt="All Things Zoo" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
