@model PhotoCreateViewModel

@{
    ViewBag.Title = "Create New Photo";
}

<div id="createPhoto">
    <h2>Create New Photo</h2>

    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <h4>@Html.Raw(Model.Message)</h4>
    }

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="ProposedPhotoName" class="control-label">Photo Name</label>
            <input asp-for="ProposedPhotoName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="FileName" class="control-label"></label>
            <div class="input-group">
                <input asp-for="FileName" class="form-control">
                <span class="input-group-addon">.jpg</span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Tags" class="control-label"></label>
            <textarea asp-for="Tags" class="form-control">@Model.Tags</textarea>
            <div class="help-block">Separate multiple tags with a comma (,).</div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsPrivate"> Private
                </label>
            </div>
        </div>

        <div>
            <input type="submit" value="Create" class="btn btn-primary">
            <a asp-action="Index" class="btn btn-link">Cancel</a>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div style="color: red;">@Model.ErrorMessage</div>
        }
    </form>
</div>

@section Script {
    <script>
        $(function () {
            $("textarea")
                .focus(function () {
                    var $this = $(this);
                    $this.select().mouseup(function () {
                        $this.off("mouseup");
                        return false;
                    });
                })
                .keyup(function (e) {
                    if (e.which === 9) {
                        this.select();
                    }
                });

            var photoNameHasFocus = false;
            $("#Name").click(function () {
                if (photoNameHasFocus)
                    return;

                photoNameHasFocus = true;

                this.select();
            })
        });
    </script>
}
