@model IEnumerable<Tag>

@if (Model.SafeAny())
{
    <ul class="tag-buttons">
        @foreach (var tag in Model)
        {
            <li>@Html.TagButton(tag)</li>
        }
    </ul>
    <div class="clearfix"></div>
}
