@model ContactViewModel

@{
    ViewBag.Title = "Contact";
    ViewBag.ContactActiveClass = "active";
}

<div id="contact">
    <header>
        <h1>Contact us at TeacherPouch</h1>
    </header>

    <section id="instructions">
        To send us an email, please fill out the form below. <br>
        If you would like a response back, please make sure to leave your email address.  Thank You!
    </section>

    <section id="form">
        <form action="/Contact" method="POST" class="contact">
            @Html.AntiForgeryToken()

            <div>
                <label for="Name">Your Name</label>
                <input type="text" name="Name" id="Name" placeholder="Your Name" autofocus>
            </div>

            <div>
                <label for="Email">Your Email</label>
                <input type="text" name="Email" id="Email" placeholder="Your Email">
            </div>

            <div>
                <label for="ReasonForContacting">Reason for Contacting</label>
                <select name="ReasonForContacting" id="ReasonForContacting">
                    <option value="question">Question</option>
                    <option value="request">Request</option>
                    <option value="comment">Comment</option>
                    <option value="other">Other</option>
                </select>
            </div>
            
            <div>
                <label for="Comment">Your Comment/Question</label>
                <textarea name="Comment" id="Comment" placeholder="Your Comment/Question"></textarea>
            </div>

            <div>
                <input type="submit" value="submit">
                @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
                {
                    <div style="color:red;">@Model.ErrorMessage</div>
                }
            </div>
        </form>
    </section>
</div>
