@{
    ViewBag.Title = "Copyright";
    ViewBag.CopyrightActiveClass = "active";
}

<div id="Copyright">
    <header>
        <h1>Copyright Information</h1>
    </header>
    <div class="big">
        <div>
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" target="_blank">
                <img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png">
            </a>
        </div>
        
        <section>
            TeacherPouch uses a <a href="http://creativecommons.org/" target="_blank">Creative Commons</a> License called "Attribution-NonCommercial-ShareAlike 3.0 Unported."
        </section>

        <section>
            For the full license please visit <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode" target="_blank">this website</a>.
        </section>
        
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" target="_blank"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/CreativeCommonsLicense.jpg")"></a>
    </div>
</div>