@model AdminViewModel

@{
    ViewBag.Title = "Admin";
}

<div class="page-admin">
    <header class="page-header" style="margin-top: 0;">
        <h1>TeacherPouch Administration</h1>
    </header>

    <section>
        <header class="page-header">
            <h2>Welcome, @Model.UserName!</h2>
        </header>
        <div>
            <p>Assigned Roles: @Model.Roles</p>
            <div>
                <a asp-action="Logout" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Photos</h2>
        </header>
        <div>
            @if (User.IsInRole(TeacherPouchRoles.Admin))
            {
                <a asp-controller="Photo" asp-action="Create" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Create New Photo
                </a>
            }
            <a asp-controller="Photo" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> View All Photos
            </a>
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Tags</h2>
        </header>
        <div>
            @if (User.IsInRole(TeacherPouchRoles.Admin))
            {
                <a asp-controller="Tag" asp-action="Create" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Create New Tag
                </a>
            }
            <a asp-controller="Tag" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> View All Tags
            </a>
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Questions</h2>
        </header>
        <div>
            <a asp-controller="Question" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> View All Questions
            </a>
        </div>
    </section>
</div>
