@model AdminViewModel

@{
    ViewBag.Title = "Admin";
}

<div class="page-admin">
    <h2>Admin Home</h2>

    <h4>Welcome, @Model.UserName!</h4>

    <fieldset>
        <legend>Your Account</legend>
        <p>Assigned Roles: @Model.Roles</p>
    </fieldset>

    <fieldset>
        <legend>Photos</legend>
        @if (User.IsInRole(TeacherPouchRoles.Admin))
        {
            <a asp-controller="Photo" asp-action="Create">Create New Photo</a> <br>
        }
        <a asp-controller="Photo" asp-action="Index">View All Photos</a>
    </fieldset>

    <fieldset>
        <legend>Tags</legend>
        @if (User.IsInRole(TeacherPouchRoles.Admin))
        {
            <a asp-controller="Tag" asp-action="Create">Create New Tag</a> <br>
        }
        <a asp-controller="Tag" asp-action="Index">View All Tags</a>
    </fieldset>

    <fieldset>
        <legend>Questions</legend>
        <a asp-controller="Question" asp-action="Index">View All Questions</a>
    </fieldset>

    <p>
        <a asp-action="Logout">Log out</a>
    </p>
</div>
