@model AdminViewModel

@{
    ViewBag.Title = "TeacherPouch Administration";
}

<div class="page-admin">
    <header class="page-header" style="margin-top: 0;">
        <h1>TeacherPouch Administration</h1>
    </header>

    <section>
        <div>
            <p>
                Welcome, <strong>@Model.UserName</strong>!
            </p>

            <div class="form-group">
                <label class="control-label">Assigned Roles</label>
                <p class="form-control-static">@Model.Roles</p>
            </div>

            <div>
                <a asp-action="Logout" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Photos</h2>
        </header>
        <div>
            <a asp-controller="Photo" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> Photo Index
            </a>
            @if (User.IsInRole(TeacherPouchRoles.Admin))
            {
                <a asp-controller="Photo" asp-action="Create" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Create New Photo
                </a>
            }
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Tags</h2>
        </header>
        <div>
            <a asp-controller="Tag" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> Tag Index
            </a>
            @if (User.IsInRole(TeacherPouchRoles.Admin))
            {
                <a asp-controller="Tag" asp-action="Create" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Create New Tag
                </a>
            }
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Questions</h2>
        </header>
        <div>
            <a asp-controller="Question" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> Question Index
            </a>
        </div>
    </section>
</div>
