@model LoginViewModel

@{
    ViewBag.Title = "Register";
}

<div>
    <h1>Site Administration</h1>

    <h3>Register</h3>

    <form asp-controller="Admin" asp-action="Register" method="POST" role="form">
        <div class="form-group">
            <label asp-for="@Model.UserName"></label>
            <input asp-for="@Model.UserName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>

        <div asp-validation-summary="All"></div>
    </form>
</div>
