@{
    ViewBag.Title = "No Matches";
}

<h2>No Matches</h2>

<div style="font-size: larger;">
    <p>Nothing found matching your query. Make sure your query is at least 2 characters.</p>

    <p>
        Feel free to email us using the
        <a asp-controller="Home" asp-action="Contact">Contact</a> page to request this word.
    </p>
</div>
