@model ContactViewModel

@{
    ViewBag.Title = "Contact";
    ViewBag.ContactActiveClass = "active";
}

<div id="contact">
    <header>
        <h1>Contact us at TeacherPouch</h1>
    </header>

    <section id="instructions">
        <p>To send us an email, please fill out the form below.</p>
        <p>If you would like a response back, please make sure to leave your email address.</p>
        <p>Thank You!</p>
    </section>

    <section id="form">
        <form asp-controller="Home" asp-action="Contact" method="POST" class="contact" role="form">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" type="text" placeholder="Your Name">
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" type="email" placeholder="Your Email">
            </div>

            <div class="form-group">
                <label asp-for="ReasonForContacting">I have a...</label>
                <select asp-for="ReasonForContacting" class="form-control">
                    <option value="question">Question</option>
                    <option value="request">Request</option>
                    <option value="comment">Comment</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Comment">Your Comment/Question</label>
                <textarea asp-for="Comment" class="form-control" placeholder="Your Comment/Question"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">Submit</button>

                @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                {
                    <div style="color: red;">
                        @Model.ErrorMessage
                    </div>
                }
            </div>
        </form>
    </section>
</div>
