@{
    ViewBag.Title = "Thank You";
    ViewBag.ContactActiveClass = "active";
}

<div>
    <header>
        <h1>Contact form submitted successfully</h1>
    </header>
    <p>
        Thank you for contacting us!
    </p>
</div>
