@model ContactViewModel

@{
    ViewBag.Title = "Contact";
    ViewBag.ContactActiveClass = "active";
}

<div id="contact">
    <header>
        <h1>Contact us at TeacherPouch</h1>
    </header>

    <section id="instructions">
        <p>To send us an email, please fill out the form below.</p>
        <p>If you would like a response back, please make sure to leave your email address.</p>
        <p>Thank You!</p>
    </section>

    <section id="form">
        <form action="/Contact" method="POST" class="contact" role="form">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" placeholder="Your Name" class="form-control">
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" name="Email" id="Email" placeholder="Your Email" class="form-control">
            </div>

            <div class="form-group">
                <label for="ReasonForContacting">I have a...</label>
                <select name="ReasonForContacting" id="ReasonForContacting" class="form-control">
                    <option value="question">Question</option>
                    <option value="request">Request</option>
                    <option value="comment">Comment</option>
                    <option value="other">Other</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="Comment">Your Comment/Question</label>
                <textarea name="Comment" id="Comment" placeholder="Your Comment/Question" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">Submit</button>

                @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
                {
                    <div style="color:red;">@Model.ErrorMessage</div>
                }
            </div>
        </form>
    </section>
</div>
