@{
    ViewBag.Title = "Home";
    ViewBag.HomeActiveClass = "active";
}

<div id="home">
    <div class="jumbotron">
        <header>
            <div id="intro-video-placeholder">
                <a href="javascript:;"
                   onclick="PlayIntroVideo(this);"
                   data-video="//www.youtube.com/embed/0bwl3JaPM8Q?autoplay=1&rel=0"
                   title="Watch a quick intro video about TeacherPouch">
                    <img src="~/img/teacherpouch-video-placeholder.png" class="img-responsive" alt="TeacherPouch Video">
                </a>
            </div>

            <div id="intro-video"></div>

            <div>
                <h5>
                    Free stock photos for teachers and non-teachers alike. <br>
                    Come back periodically to see new photos that have been added!
                </h5>
            </div>
        </header>
    </div>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Weather">
                <img src="~/img/weather.jpg" class="img-responsive" alt="Weather" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Winter">
                <img src="~/img/winter.jpg" class="img-responsive" alt="Winter" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Search" asp-action="Search" asp-route-q="winter clothing">
                <img src="~/img/winter-clothing.jpg" class="img-responsive" alt="Winter Clothing" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="School">
                <img src="~/img/school.jpg" class="img-responsive" alt="School" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Math">
                <img src="~/img/math.jpg" class="img-responsive" alt="Math" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Prepositions">
                <img src="~/img/prepositions.jpg" class="img-responsive" alt="prepositions" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Transportation">
                <img src="~/img/transportation.jpg" class="img-responsive" alt="Transportation" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Vacation">
                <img src="~/img/vacation.jpg" class="img-responsive" alt="Vacation" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Sizes">
                <img src="~/img/sizes.jpg" class="img-responsive" alt="Sizes" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Food">
                <img src="~/img/food.jpg" class="img-responsive" alt="Food" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Animals">
                <img src="~/img/animals.jpg" class="img-responsive" alt="Animals" asp-append-version="true">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a asp-controller="Category" asp-action="CategoryDetails" asp-route-name="Numbers">
                <img src="~/img/numbers.jpg" class="img-responsive" alt="Numbers" asp-append-version="true">
            </a>
        </div>
    </div>
</div>
