@{
    ViewBag.Title = "License";
    ViewBag.LicenseActiveClass = "active";
}

<div class="page-license">
    <header>
        <h1>TeacherPouch's Photo License</h1>
    </header>
    <div>
        <section>
            TeacherPouch uses a <a href="http://creativecommons.org/" target="_blank">Creative Commons</a> License
            called <em>Attribution-NonCommercial-ShareAlike 3.0 Unported</em>.
        </section>

        <section>
            <figure>
                <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"
                    alt="Creative Commons License"
                    style="border-width: 0;">
                <figcaption>
                    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode" target="_blank">View the full license</a>
                </figcaption>
            </figure>
        </section>

        <section class="hidden-xs hidden-sm">
            <p>Here's a brief summary of the license.</p>
            <iframe src="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" height="1275" width="800"></iframe>
        </section>
    </div>
</div>
