@model Tag

@{
    ViewBag.Title = "Delete Tag: " + @Model.Name;
}

<div class="page-tag-delete">
    <header class="page-header" style="margin-top: 0;">
        <h1>Delete Tag: @Model.Name</h1>
    </header>

    <div class="alert alert-warning">
        Are you sure you want to delete this tag?
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <p class="form-control-static">@Model.Name</p>
    </div>

    <div class="form-group">
        @if (Model.IsPrivate)
        {
            <span>Private: <strong>Yes</strong></span>
        }
        else
        {
            <span>Private: No</span>
        }
    </div>

    <form asp-action="Delete">
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        <a asp-action="Details" asp-route-name="@Model.Name" class="btn btn-link">Cancel</a>
    </form>
</div>
