@model Tag

@{
    ViewBag.Title = "Delete Tag";
}

<div id="tagDelete">
    <header>
        <h1>@Model.Name</h1>
        <h2>Delete</h2>
    <header>

    <div>
        @if (Model.IsPrivate)
        {
            <span>Is Private: <strong>Yes</strong></span>
        }
        else
        {
            <span>Is Private: No</span>
        }
    </div>

    <form asp-action="Delete">
        <div>
            <button type="submit" class="btn btn-danger">Delete</button> |
            <a asp-action="Details" asp-route-name="@Model.Name">Cancel</a>
        </div>
    </form>
</div>
