@model TagEditViewModel

@{
    ViewBag.Title = "Edit Tag: " + Model.Name;
}

<div class="page-tag-edit">
    <header class="page-header" style="margin-top: 0;">
        <h1>Edit Tag: @Model.Name</h1>
    </header>

    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="@Model.Name" class="control-label"></label>
            <input asp-for="@Model.Name" class="form-control">
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsPrivate"> Private
                </label>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
            <a asp-action="Details" asp-route-name="@Model.Name" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
