@model IEnumerable<Tag>

@{
    ViewBag.Title = "Tag Index";
}

<h2>Tag Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create new Tag</a>
    </p>
}

<h3>@Model.Count() tags</h3>

<ul class="tag-buttons">
    @Html.Partial("_TagButtons", Model)
</ul>
