@model TagCreateViewModel

@{
    ViewBag.Title = "Create Tag";
}

<div id="createTag">
    <h2>Create Tag</h2>

    @using (Html.BeginForm())
    {
        Html.AntiForgeryToken();

        <div>
            <label for="Name">Tag Name</label>
            <input type="text" name="Name" id="Name" value="@Model.Tag.Name">
        </div>

        <div>
            <label for="IsPrivate">Private</label>
            <input type="checkbox" name="IsPrivate" id="IsPrivate" checked="@Model.Tag.IsPrivate">
        </div>

        <div>
            <input type="submit" value="Create" /> | <a href="@Url.TagIndex()">Cancel</a>
        </div>

        if (!String.IsNullOrWhiteSpace(Model.ErrorMessage)) {
            <div style="color:red;">@Model.ErrorMessage</div>
        }
    }
</div>
