@{
    ViewBag.Title = "Privacy Policy";
}

<article>
    <header>
        <h1>TeacherPouch Privacy Policy</h1>
    </header>
    
    <p>
        This Privacy Policy was last modified on January 17, 2014.
    </p>

    <p>
        TeacherPouch LLC ("us", "we", or "our") operates http://www.teacherpouch.com (the "Site").
        This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
        By using the Site, you agree to the collection and use of information in accordance with this policy.
    </p>

    <p>
        <strong>Information Collection and Use</strong><br>
        While using our Site, we may utilize software such as Google Analytics to collect non-personally-identifying information about your visit.
        Google Analytics records things such as what search term brought you to our site, what pages you visit, and what kind of computer and/or browser you're using.
        We want to collection this anonymous information so we can better understand what photos and tags people are looking for, so that we can better cater our
        content to percieved demand.<br><br>

        (Also remember, you can specifically request certain types of pictures or tags using the Contact form.)
    </p>

    <p>
        <strong>Log Data</strong><br>
        Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").
        This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version,
        the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
    </p>

    <p>
        <strong>Cookies</strong><br>
        Cookies are files with small amount of data, which may include an anonymous unique identifier.
        Cookies are sent to your browser from a web site and stored on your computer's hard drive. <br>
        Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.
        However, if you do not accept cookies, you may not be able to use some portions of our Site.
    </p>

    <p>
        <strong>Links To Other Sites</strong><br>
        Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site.
        We strongly advise you to review the Privacy Policy of every site you visit. <br>
        TeacherPouch LLC has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.
    </p>

    <p>
        <strong>Changes To This Privacy Policy</strong><br>
        TeacherPouch LLC may update this Privacy Policy from time to time. We will update the "last modified" date at the top of this policy whenever updates are made.
        We recommend that you review this Privacy Policy periodically for any changes.
    </p>

    <p>
        <strong>Contact Us</strong><br>
        If you have any questions about this Privacy Policy, please contact us using the Contact link in the top navigation bar.
    </p>
</article>
